
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">

<link rel="stylesheet" href="{{ asset('bundles/mzjyab/js/vendor/tag-it/css/jquery.tagit.css') }}" type="text/css" media="screen" />
<script type="text/javascript" src="{{ asset('bundles/mzjyab/js/vendor/tag-it/js/tag-it.js') }}" ></script>


<script type="text/javascript">
    $(document).ready(function() {
        $("#mytags").tagit({
            singleField: true,
            singleFieldNode: $('#mzj_yabbundle_posttype_tags')
        });
    });
</script>

<h1>Post creation</h1>

<form action="{{ path('post_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('post') }}">
            Back to the list
        </a>
    </li>
</ul>

<ul id="mytags">
    <!-- Existing list items will be pre-added to the tags -->
    <li>Tag1</li>
    <li>Tag2</li>
</ul>
