<article class="short-post">
    
    <h2>
        <a href="{{ path('MZJYabBundle_post', { 'created': post.createdAt|date("m-d-Y"), 'id': post.id, 'slug': post.slug }) }}">
            {{ post.title }}
        </a>   
    </h2>
    
    <time  datetime="{{ post.createdAt|date('Y-m-d') }}" pubdate>
        <span class="day">{{ post.createdAt|date('d') }}</span>
        <span class="month">{{ post.createdAt|date('M') }}</span>
        <span class="year">{{ post.createdAt|date('Y') }}</span>
    </time>     
        
    <p class="abstract">{{ post.abstract }}</p>
    
    <p>
        <span class="categories"> { 
            {% for category in post.categories %}
                {{ category.name }}{% if loop.last == false %},{% endif %}
            {% endfor %} }
        </span>
        <span class="read-more">
            <a href="{{ path('MZJYabBundle_post', { 'created': post.createdAt|date("m-d-Y"), 'id': post.id, 'slug': post.slug }) }}">
                Read &#8594;
            </a>
        </span>
    </p>
    
</article>
